*{
    box-sizing: border-box;
}

@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:100;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:200;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:300;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:400;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:500;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:600;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:700;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:800;
}
@font-face{
    font-family:'FRANKGO';
    src: url(FRANKGO.ttf);
    font-style:normal;
    font-weight:900;
}



@font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:100;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:200;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:300;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:400;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:500;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:600;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:700;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:800;
}
    @font-face{
    font-family:'billie eilish';
    src: url(billie eilish);
    font-style:normal;
    font-weight:900;
}

body{
    border:0px solid red;
    margin:0px;
}

header{
    width:60%;
    height:150px;
    background-color:white;
    text-align: center;
}

header h1{
    font-size: 40px;
    letter-spacing: -1px;
    text-align: right;
    margin: 10px 30px;
    width: 50%;
    padding: 50px 20px;
    color: #a17e62;
    font-style: 'billie eilish';
    font-weight: 100;
}

 .button {
  background-color:#e5e5e5; 
  border: none;
  color:#583521;
  float:right;
  padding: 10px 40px;
  margin: 10px 30px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 40px;
  font-style: 'FRANKGO';
  font-weight: 900;
  margin: 0px 0px 0px 50px;
}
.button:hover{
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
nav{
    width:100%;
    height:80px;
    margin: 0;
    padding: 0;
    background-color:#fff3bf;
    
}

a{
    font-size: 20pt;
    font-style: 'FRANKGO';
    font-weight: 900;
    padding-right:60px;
    text-decoration: none;
    text-align: center;
    color: #491d00;
    display: inline;
    float: left;
    padding: 20px;
}
a:hover{
    color:#96683d;
}


#logo{
    width:140px;
    float:left;
    margin: 3px 0px 20px 250px;
}